body {
    background-color: hsl(220, 13%, 91%);  
    color: hsl(215, 28%, 17%);
}

.navbar-bg {
    background-color: hsl(0, 0%, 100%);
}

footer {
    background-color: hsl(0, 0%, 100%);
}

.card-background {
    background-color: hsl(0, 0%, 100%); 
}

.text-box {
    background-color: hsl(215, 14%, 34%);
    color: hsl(0, 0%, 100%);    
}

.text-box:focus {
    background-color: hsl(215, 14%, 34%);
    color: hsl(0, 0%, 100%);
}

.fa-solid.fa-gear {
    color: hsl(0, 0%, 25%);
}

.fa-solid.fa-gear:hover {
    color: hsl(0, 0%, 60%);
}

.status-success {
    color: hsl(113, 100%, 35%);
}

.status-fail {
    color: hsl(0, 100%, 35%);
}

.offense, .modifier-card {
    background-color: hsl(220, 13%, 91%);
    box-shadow: 0 3px 10px hsl(0, 0%, 80%);
}

input[type="checkbox"].checkbox-theme:checked {
    background-color: hsl(215, 14%, 34%);
    border-color: hsl(215, 14%, 34%);
}

.range-theme::-webkit-slider-thumb {
    border: 2px solid hsl(215, 14%, 34%);
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%);
}

.range-theme::-moz-range-thumb {
    border: 2px solid hsl(215, 14%, 34%);
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%);
}

.range-theme::-ms-thumb {
    border: 2px solid hsl(215, 14%, 34%);
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%);
}

.range-theme::-ms-fill-lower {
    background: hsl(215, 14%, 34%);
}