@use "../abstracts" as *;

.card-custom {

    &__main {
        border-radius: 20px;
        background-color: var(--card-main-color);

        .image--main {
            height: 80px;
        }
    }

    &__object {
        width: 230px;
        padding: 20px;
        border-radius: 20px;
        background-color: var(--card-object-bg-color);
        box-shadow: var(--card-object-shadow-color);
        font-size: 1rem;

        & .slider {
            width: 100%;
        }

        @include respondToBreakpoint(md) {
            width: auto;
        }
    }

    &__stat {
        border-radius: 5px;
        background-color: $light-gray;
        color: $white;
        padding: 1px 10px;
        font-size: 1.25rem;
        font-weight: bold;
    }
}