@use "../abstracts" as *;

@mixin object-container {
    position: relative;
    display: inline-block;   
    border-radius: 10px;
    background-color: $light-blue;
    
    .object-container__img {
        height: 90px;
        width: 90px;
    }
}

@mixin object-container--small {
    .object-container__img {
        height: 50px;
        width: 50px;
    }
}

.object-container {
    @include object-container;

    &--responsive {
        @include respondToBreakpoint(md) {
            @include object-container--small;
        }      
    }

    &--earthquake {
        background-color: $light-brown;
    }

    &--epic {
        background-color: $purple;
    }
  
    &--immune {
        background-color: $light-red;
    }

    &--small {
        @include object-container--small;
    }

    &--tall {
        height: 80px;
        width: auto;

        .object-container__header {

            & .overlay {
                position: static;
                height: 30px;               
            }
        }

        .overlay {
            
            &.overlay--top-left, &.overlay--top-right {
                top: 30px;
            }            
        }

        img {
            height: 50px;
            width: 50px;
        }
    }
}