@use "../abstracts" as *;

.search-box {
    position: relative;

    .fa-search {
        position: absolute;
        top:20px;
        left: 20px;
        color: $white;
        font-size: 1rem;
    }

    .search-box__input {
        height: 55px;
        padding-left: 50px;
        border-radius: 10px;
        border: none;
        color: $white;
        background-color: var(--search-box-input-color);

        &::placeholder {
            color: $white;
        }

        &:focus {
            background-color: var(--search-box-input-color);
        }
    }
}