.status-container {

    &__img {
        width: 80px;

        &--empty-search {
            width: 200px;
        }
    }

    &__text {
        font-weight: bold;

        &--success {
            color: var(--status-success-color);
        }
    
        &--fail {
            color: var(--status-fail-color);
        }  
    }
}