$white: hsl(0, 0%, 100%);
$solitude: hsl(220, 13%, 91%);

$light-gray: hsl(215, 13%, 43%);
$medium-gray: hsl(215, 14%, 34%);
$dark-gray: hsl(215, 28%, 17%);
$black: hsl(0, 0%, 0%);

$yellow: hsl(45, 100%, 50%);
$light-blue: hsl(216, 94%, 66%);
$blue: hsl(216, 100%, 50%);
$light-brown: hsl(49, 12%, 37%);
$light-purple: hsl(285, 100%, 67%);
$purple: hsl(285, 100%, 50%);
$orange: hsl(27, 100%, 50%);
$green: hsl(149, 78%, 40%); 
$lime: hsl(121, 100%, 59%);
$light-green: hsl(113, 100%, 50%);
$light-red: hsl(0, 100%, 50%);
$brown: hsl(41, 100%, 34%);

$transparent: hsla(0, 0%, 0%, 0);