@use "../abstracts" as *;

.card-custom {
  border-radius: 20px;
  background-color: var(--card-main-color);

  &__object {
    width: auto;
    padding: 20px;
    background-color: var(--card-object-bg-color);
    box-shadow: var(--card-object-shadow-color);
    font-size: 1rem;

    .image--main {
      height: 80px;
    }

    .status-container__text {
      font-size: 1rem;
    }

    & .slider {
      width: 100%;
    }

    &--defense {
      background-color: var(--card-main-color);
    }

    @include respondToBreakpoint(md) {
      width: auto;
    }
  }

  &__stat {
    border-radius: 5px;
    height: 30px;
    background-color: $light-gray;
    color: $white;
    padding: 1px 10px;
    font-size: 1.25rem;
    font-weight: bold;

    &.supercharge {
      display: flex;
      align-items: center;
      img {
        margin: auto 3px;
        height: 20px;
      }
    }
  }
}
