@use "../abstracts/" as *;

.dropdown {
  color: $white;
  border: none;

  &#earthquake_order {
    width: 25%;
  }

  @include respondToBreakpoint(xl) {
    &#earthquake_order {
      width: 50%;
    }
  }

  @include respondToBreakpoint(md) {
    &#earthquake_order {
      width: 100%;
    }
  }
}
