@use "../abstracts" as *;

@mixin overlay {
  position: absolute;
  width: auto;
  height: auto;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

@mixin overlay--small {
  @include flexAlignCenter;

  font-size: 12px;

  &.overlay__number {
    padding: 2px 2px;
    height: 16px;
    min-width: 0;
  }

  &.overlay--bottom-left {
    bottom: 3px;
    left: 3px;
  }

  &.overlay--bottom-right {
    bottom: 3px;
    right: 3px;
  }

  &.overlay--top-left {
    top: 3px;
    left: 3px;
  }

  &.overlay--top-right {
    top: 3px;
    right: 3px;
  }

  &.overlay__img {
    img {
      height: 18px;
      width: 18px;
    }
  }
}

@mixin overlay--large {
  @include flexAlignCenter;

  font-size: 32px;

  &.overlay__number {
    padding: 3px 5px;
    height: 40px;
    min-width: 0;
  }

  &.overlay--bottom-left {
    bottom: 3px;
    left: 3px;
  }

  &.overlay--bottom-right {
    bottom: 3px;
    right: 3px;
  }

  &.overlay--top-left {
    top: 3px;
    left: 3px;
  }

  &.overlay--top-right {
    top: 3px;
    right: 3px;
  }

  &.overlay__img {
    img {
      height: 40px;
      width: 40px;
    }
  }
}

.overlay {
  @include overlay;

  &--responsive {
    @include respondToBreakpoint(lg) {
      @include overlay--small;
    }
  }

  &--bottom-left {
    bottom: 5px;
    left: 5px;
  }

  &--bottom-right {
    bottom: 5px;
    right: 5px;
  }

  &--top-left {
    top: 5px;
    left: 5px;
  }

  &--top-right {
    top: 5px;
    right: 5px;
  }

  &__number {
    @include backgroundAndTextColor($light-gray, $white);
    @include flexCenter;

    padding: 0 4px;
    min-width: 25px;
    height: 25px;

    &--order {
      @include backgroundAndTextColor($orange, $white);
    }

    &--spell-count {
      @include backgroundAndTextColor($light-blue, $white);
    }

    &--level-maxed {
      @include backgroundAndTextColor($yellow, $black);
    }
  }

  &__img {
    padding: 0;

    img {
      background-color: $light-blue;
      border-radius: 4px;
      height: 25px;
      width: 25px;
    }

    &--death {
      img {
        background-color: $light-brown;
      }
    }

    &--common {
      img {
        background-color: $blue;
      }
    }

    &--raged {
      img {
        background-color: $light-purple;
      }
    }

    &--epic {
      img {
        background-color: $purple;
      }
    }
  }

  &--small {
    @include overlay--small;
  }

  &--large {
    @include overlay--large;
  }
}
